{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}

    <h1>Mon panier</h1>

    {% if cart|length > 0 %}

        <p>Ajouter d'autres articles disponibles sur le site <a href="{{ path('shop_index') }}">Voir les articles</a></p>
        <a href="{{path('cart_removeAll') }}">Supprimer tout mon panier</a>
        {% set total = null %}
        {% for item in cart %}
        {% set total = total + (item.product.price * item.quantity) %}

        <h3>{{ item.product.name }}</h3>
        <p>{{ item.product.description }}</p>

        <div>{{ total|number_format(2, ',', '.') }} €</div>

        <a href="{{path('cart_decrease', {id: item.product.id}) }}">-</a>
        <input type ="number" value="{{ item.quantity }}" readonly></input>
        <a href="{{path('cart_add', {id: item.product.id}) }}">+</a>
        

        <a href="{{ path('cart_remove', {id: item.product.id}) }}">Supprimer produit</a>

    {% endfor %}
    <p>Nombre de produits:<span>{{ cart|length }}</span></p>

    <div>Total:<span>{{ total|number_format(2, ',', '.') }} € </span></div>

    <button type="submit">Valider mon panier</button>

    {% else %}

        <h1>Votre panier est vide</h1>
        <p>Commencez votre shopping maintenant</p>
        <a href="{{ path('shop_index') }}">Voir les produits</a>


    {% endif %}


{% endblock %}
