{% extends 'base.html.twig' %}

{% block title %}Log in!!{% endblock %}
{% block header %}
<a href="/admin/dashboard"><img
  class="headerBanner"
  src="/images/headerBanner.jpg"
  alt="Bannière du header"
/></a>
<nav>
  <ul class="headerList">
    <li><a href="/admin/dashboard">ACCUEIL</a></li>
    <li><a href="/admin/products/list">PRODUITS</a></li>
    <li><a href="/admin/categories/list">CATÉGORIES</a></li>
    <li><a href="/admin/orders/list">COMMANDES</a></li>
  </ul>
</nav>
{% endblock %}
{% block main %}
<section id="login">
    <div class="sectionContainer">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_admin_logout') }}">Logout</a>
        </div>
   {% else %}
        <h1 class="darkGreen">{{ "admin connexion" | upper }}</h1>
        <form action={{ path('app_admin_login') }} method='post'>
            <label for='username'>Adresse email</label>
            <input type='email' id='username' name='_username' class="form-control" placeholder="exemple@zombie.fr" value="{{ username }}">
            <label for='password'>Mot de passe</label>
            <input type='password' id='password' name='_password' class="form-control" placeholder="********">
            {# redirection vers une route valide #}
            <input type='hidden' name'_target_path' value='/'>
            <input type='hidden' name='_csrf_token' value="{{ csrf_token('authenticate') }}">
            <br/>
            <button type='submit' class="loginButton">Se connecter</button>

        </form>

    {% endif %}
    </div>
</section>
{% endblock %}
