{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type='submit' name='créer'>
    {{ form_end(form) }}
{% endblock %}