{% extends 'base.html.twig' %}
{% block header %}
<a href="/admin/dashboard"><img
  class="headerBanner"
  src="/images/headerBanner.jpg"
  alt="Bannière du header"
/></a>
<nav>
  <ul class="headerList">
    <li><a href="/admin/dashboard">ACCUEIL</a></li>
    <li><a href="/admin/products/list">PRODUITS</a></li>
    <li><a href="/admin/categories/list">CATÉGORIES</a></li>
    <li><a href="/admin/orders/list">COMMANDES</a></li>
  </ul>
</nav>
{% endblock %}

{% block main %}
  <table class="table table-striped table-bordered table-hover table-responsive zombie-table">
    <thead>
      <th colspan="2" id="kpi">INDICATEURS DE PERFORMANCES &#40;KPI&#41;</th>
      <tr>
        <th>RUBRIQUE</th>
        <th>TOTAUX</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ventes</td>
        <td>{{totalSales}}€</td> 
      </tr>
      <tr>
        <td>Clients</td>
        <td>{{totalCustomers}}</td> 
      </tr>
      <tr>
        <td>Paniers</td>
        <td>{{totalBaskets}}</td> 
      </tr>
      <tr>
        <td>Commandes</td>
        <td>{{totalOrders}}</td> 
      </tr>
      <tr>
        <td>Taux de validation Panier</td>
        <td>{{percentValidatedBasket}}%</td> 
      </tr>
      
    </tbody>
    </table>
  {% endblock %}
  {% block footer %}
{% endblock %}
