{% if app.user %}
<div class="basketHeader">
  <img class="iconBasket" src="/images/iconbasketwhite.png" alt="Logo panier" />
  <h1 class="darkGreen">VOTRE PANIER</h1>
</div>

{% for item in productList %}
<div class="basketItem">
  <img src="/images/products/{{ item.picture }}" alt="{{ item.name }}" />
  <p class="basketItemP">{{ item.name }}</p>
  <div id="count">
    <div class="button buttonLeft"><p class="countP darkGreen">-</p></div>
    <div class="displayer">
      <p class="countP darkGreen">{{ item.quantity }}</p>
    </div>
    <div class="button buttonRight"><p class="countP darkGreen">+</p></div>
  </div>
</div>
{% endfor %}

<div id="price">TOTAL : {{ totalePrice }}€</div>
<button class="basketSubmit">PAYER</button>
<script type="module" src="{{ asset('/js/handleClicIconBasket.js') }}"></script>
{% else %}
<div class="basketHeader">
  <a href="/login"
    ><img
      class="iconBasket"
      src="/images/iconbasketwhite.png"
      alt="Logo panier"
  /></a>
</div>
{% endif %}
