{# {% for form in forms %}
{{ form.vars.value.value }} 
{{ form.vars.value.title }}
{{ form.vars.value.resume }}
{{ form_start(form) }}
{{ form_widget(form) }}
<input type='submit' name='modifier_statut' class="btn btn-success">
{{ form_end(form) }}
{% endfor %} #}



{% extends 'base.html.twig' %}

{% block header %}
<a href="/admin/dashboard"><img
  class="headerBanner"
  src="/images/headerBanner.jpg"
  alt="Bannière du header"
/></a>
<nav>
  <ul class="headerList">
    <li><a href="/admin/dashboard">ACCUEIL</a></li>
    <li><a href="/admin/products/list">PRODUITS</a></li>
    <li><a href="/admin/categories/list">CATÉGORIES</a></li>
    <li><a href="/admin/orders/list">COMMANDES</a></li>
  </ul>
</nav>
{% endblock %}
{% block main %}
  <table class="table table-striped table-bordered table-hover table-responsive zombie-table">
    <thead>
      <th colspan="4" id="order-table-title">Liste des avis</th>
      <tr>
        <th>Note</th>
        <th>Titre</th>
        <th>Message</th>
        <th>Statut</th>
      </tr>
    </thead>
    {% if forms is not empty %}
    <tbody>
      {% for form in forms %}
        <tr>
          <td> {{ form.vars.value.value }} </td>
          <td> {{ form.vars.value.title }} </td>
          <td> {{ form.vars.value.resume }} </td>
          <td>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type='submit' name='modifier_statut' class="btn btn-success">
            {{ form_end(form) }}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      Aucun avis existante
    {% endif %}
    </tbody>
  </table>
{% endblock %}