<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        <h1>Bienvenue sur Necro Defense Store</h1>
        <h3>Détruis des zombies à coup de pistolet laser baby!<h3>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href='{{ path('app_logout') }}'>Déconnexion</a>
            {% else %}
                <a href='{{ path('app_login') }}'>Connexion</a>
                <a href='{{ path('app_register') }}'>Inscription</a>
            {% endif %}
        {% endblock %}
    </body>
</html>