{% extends 'base.html.twig' %} {% block main %}
<div class="slideshowContainer">
  {% for slide in slideShowPictures %}
  <img src="/images/bannerSlideshow/{{ slide }}" alt="Carrousel Bannière" />
  {% endfor %}
</div>
<section id="aboutUs">
  {% for aboutUsSection in data.aboutUs %}
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ aboutUsSection.title | upper }}</h1>
    <p>{{ aboutUsSection.description | raw | nl2br }}</p>
  </div>
  {% endfor %}
</section>
<section id="bestSale">
  <div class="sectionContainer">
    {% for bestSaleSection in data.bestSale %}
    <h1 class="darkGreen">{{ bestSaleSection.title | upper }}</h1>
    <div class="bestSaleGallery">
      {% endfor %} {% for bestSaleItem in data.bestSaleItems %}
      <div class="cardContainer">
        <a href="/product/">
          <img
            src="/images/products/{{ bestSaleItem.picture }}"
            alt="{{ bestSaleItem.name }}"
          />
        </a>
        <div class="cardText">
          <p class="cardName lightGreen">{{ bestSaleItem.name }}</p>
          <p class="lightGreen">{{ bestSaleItem.price }} €</p>
          <button class="buyButton">Acheter</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="newItems">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ "nos nouveaux produits" | upper }}</h1>
    <div class="bestSaleGallery">
      {% for newProductData in newProductsDatas %}
      <div class="cardContainer">
        <a href="/product/?idProduct={{ newProductData.id }}">
          <img
            src="/images/{{ newProductData.picture }}"
            alt="{{ newProductData.name }}"
        /></a>
        <div class="cardText">
          <p class="cardName lightGreen">{{ newProductData.name }}</p>
          <p class="lightGreen">{{ newProductData.price }} €</p>
          <button class="buyButton">Acheter</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="newItemsAll darkGreen">Voir tous nos nouveaux produits</p>
  </div>
</section>
<script type="module" src="{{ asset('/js/indexSlideshow.js') }}"></script>
{% endblock %}
