{% extends 'base.html.twig' %} {% block main %}
<div class="slideshowContainer">
  {% for slide in slideShowPictures %}
  <img src="/images/bannerSlideshow/{{ slide }}" alt="Carrousel Bannière" />
  {% endfor %}
</div>
<section id="aboutUs">
  {% for aboutUsSection in data.aboutUs %}
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ aboutUsSection.title | upper }}</h1>
    <p>{{ aboutUsSection.description | raw | nl2br }}</p>
  </div>
  {% endfor %}
</section>
<section id="bestSale">
  <div class="sectionContainer">
    {% for bestSaleSection in data.bestSale %}
    <h1 class="darkGreen">{{ bestSaleSection.title | upper }}</h1>
    <div class="bestSaleGallery">
      {% endfor %} {% for bestSaleItem in data.bestSaleItems %}
      <div class="cardContainer">
        <img
          src="/images/products/{{ bestSaleItem.picture }}"
          alt="{{ bestSaleItem.name }}"
        />
        <div class="cardText">
          <p class="cardName lightGreen">{{ bestSaleItem.name }}</p>
          <p class="lightGreen">{{ bestSaleItem.price }} €</p>
          <button class="buyButton">Acheter</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="newItems">
  <div class="sectionContainer">
    {% for newItemsTitle in data.newItemsText %}
    <h1 class="darkGreen">{{ newItemsTitle.title | upper }}</h1>
    <div class="bestSaleGallery">
      {% endfor %} {% for newItem in data.newItems %}
      <div class="cardContainer">
        <img
          src="/images/products/{{ newItem.picture }}"
          alt="{{ newItem.name }}"
        />
        <div class="cardText">
          <p class="cardName lightGreen">{{ newItem.name }}</p>
          <p class="lightGreen">{{ newItem.price }} €</p>
          <button class="buyButton">Acheter</button>
        </div>
      </div>
      {% endfor %}
    </div>
    <p class="newItemsAll darkGreen">Voir tous nos nouveaux produits</p>
  </div>
</section>
<script type="module" src="{{ asset('/js/indexSlideshow.js') }}"></script>
{% endblock %}
