{% extends 'base.html.twig' %}

{% block nav %}
    nav administration
{% endblock %}

{% block main %}
    <section class="order-confirmation-block">
        <div class="order-content-review">
            <div class="section-title">
                <h2 id="zombie-table-title">{{ title }}</h2>
                <p class="thank-you-message"> Merci pour votre commande! <br> Vous pouvez suivre l'état de vos commandes dans l'onglet <a href="/customer/orders/list" id="link-order">"Mes Commandes"<a> de votre Profil.</p>
            </div>
            <div class="order-content-info">
                <table class="table table-striped table-bordered table-hover table-responsive zombie-table">
                    <thead>
                        <tr>
                            <th>Identifiant commande</th>
                            <th>Total</th>
                            <th>Date de commande</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>{{ order.total }}€</td>
                            <td>{{ order.date.format('d-m-Y') }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <section class="order-section-product">
            {% if orderLines is not empty %}
                <div class="order-content-product" style="background-image: url('{{ asset('images/bloody-floor.png') }}');">
                    <h3 id="title-product">Mes Produits</h3>
                    {% for orderLine in orderLines %}
                        <ul class="product-info-list">
                            <li>Identifiant produit : <span>{{ orderLine.id }}</span></li>
                            <li>Nom produit : <span>{{ orderLine.productName }}</span></li>
                            <li>Prix produit : <span>{{ orderLine.price }}</span></li>
                            <li>Qté : <span>{{ orderLine.quantity }}</span></li>
                        </ul>
                        <div class="line-container"></div>
                    {% endfor %}
                </div>
            {% else %}
                Aucune commande existante
            {% endif %}
            <div class="img-order-new">
                <img src="{{ asset('images/a-very-happy-zombie.png') }}" alt="a very happy zombie"/>
            </div>
        </section>
    </section>


{% endblock %}