{% extends 'base.html.twig' %}

{% block nav %}
    nav administration
{% endblock %}
{% block main %}
    {{ title }}
    {# {% if forms is not empty %}
        {% for form in forms %}
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type='submit' name='modifier_statut'>
            {{ form_end(form) }}
        {% endfor %}
    {% else %}
        Aucune commande existante
    {% endif %} #}
    {% if orders is not empty %}
        {% for order in orders %}
            </br> </br> {{order.id}} {{order.customer.firstname}} {{order.customer.name}} {{order.total}} <a href="{{ path('app_update_order', { 'id': order.id })}}">Mettre à jour</a> 
        {% endfor %}
    {% else %}
        Aucune commande existante
    {% endif %}

{% endblock %}