{% extends 'base.html.twig' %}
{# /customer/orders/new 
si t'as pas d'adresse il te renvoie vers la page de création d'adresse #}
{% block title %}
    {{ title }}
{% endblock %}

{% block main %}
    <h2>{{ title }}</h2>
    {{customer.firstName}} {{customer.name}}
    {% for basketLine in basketLines %}
    </br>{{basketLine.product.name}} {{basketLine.product.price}} {{basketLine.quantity}}
    {% endfor %}
    </br>Total: {{ basketTotal}}€ 
    </br>Paiement: Chèque
    </br>Adresse de livraison & de facturation :
    </br>{{address.number}}{{address.street}} 
    </br>{{address.additional ? address.additional : '' }} 
    </br>{{address.city}} {{address.zipCode}}
<a href="{{ path('app_new_address') }}" class="btn btn-success">Modifier ladresse</a>
    <form method="post" action="{{ path('app_new_order') }}">
        <button type="submit" name="validate">Valider la commande</button>
    </form>
{% endblock %}  