{% extends 'base.html.twig' %} {% block main %} {% if errors is not empty %}
<div class="errorMessage">
  {% for error in errors %}
  <h1 class="darkGreen">{{ error }}</h1>
  {% endfor %}
</div>
{% endif %} {% if selectedCategory is not empty %}
<ul class="track-list">
  <li><a href="/">Accueil</a></li>
  <span>/</span>
  <li>
    <a
      href="/list-products?category={{ selectedCategory.name }}"
      class="endArianeLink"
      >{{ selectedCategory.name }}</a
    >
  </li>
</ul>
<div class="banner">
  <img
    class="bannerPicture"
    src="/img/list_products/{{ selectedCategory.bannerPicture }}"
    alt=""
  />
</div>
<section id="details">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ selectedCategory.name | upper }}</h1>
    <p>{{ selectedCategory.description | raw | nl2br }}</p>
    <img class="detailsPicture" src="/img/{{ selectedCategory.picture }}" "Image
    Détails">
  </div>
</section>
{% endif %} {% if subCategories is not empty %}
<section id="categories">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ "nos catégories" | upper }}</h1>
    <div class="categoriesContainer">
      {% for subCategory in subCategories %}
      <div class="cardContainer hover">
        <a href="/products/?category= {{ subCategory.id }}"
          ><img
            src="/img/list_products/{{ subCategory.picture }}"
            alt="{{ subCategory.name }}"
          />
          <div class="cardTextCat">
            <p class="cardName lightGreen">{{ subCategory.name | upper }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}{% if allProducts is not empty %}
<section id="allProducts">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ "tous nos produits" | upper }}</h1>
    <div class="categoriesContainer">
      {% for product in allProducts %}
      <div class="cardContainer">
        <a href="/product/?idProduct={{ product.id }}">
          <img src="/{{ product.picture }}" alt="{{ product.name }}" />
        </a>
        <div class="cardText">
          <p class="cardName lightGreen">{{ product.name }}</p>
          <p class="cardName lightGreen">{{ product.price }} €</p>
          <form
            action="{{ path('basket_add_product', { idProduct: product.id }) }}"
            method="post"
            id="product-{{ product.id }}"
          >
            <input type="hidden" name="id_product" value="{{ product.id }}" />
            <button type="submit" class="buyButton">Mettre au panier</button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<script type="module" src="{{ asset('/js/productsListStyle.js') }}"></script>

{% endif %} {% endblock %}
