{% extends 'base.html.twig' %} {% block main %}
<div class="banner">
  <img
    class="bannerPicture"
    src="/images/list_products/{{ data.picture }}"
    alt=""
  />
</div>
<section id="details">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ data.h1Details | upper }}</h1>
    <p>{{ data.details | raw | nl2br }}</p>
    <img class="detailsPicture" src="/images/{{ data.detailsPicture }}" "Image
    Détails">
  </div>
</section>

<section id="categories">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ data.h1Categories | upper }}</h1>
    <div class="categoriesContainer">
      {% for category in data.categories %}
      <div class="cardContainer hover">
        <a href="/products"
          ><img
            src="/images/products/{{ category.picture }}"
            alt="{{ category.title }}"
          />
          <div class="cardTextCat">
            <p class="cardName lightGreen">{{ category.title | upper }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="allProducts">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ data.h1AllProducts | upper }}</h1>
    <div class="categoriesContainer">
      {% for product in data.allProducts %}
      <div class="cardContainer">
        <a href="/product"
          ><img
            class="hover"
            src="/images/products/{{ product.picture }}"
            alt="{{ product.title }}"
        /></a>
        <div class="cardText">
          <p class="cardName lightGreen">{{ product.title | upper }}</p>
          <p class="cardName lightGreen">{{ product.price }} €</p>
          <button class="buyButton">Acheter</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
