{% extends 'base.html.twig' %} {% block main %}
<div class="banner">
  <img
    class="bannerPicture"
    src="/images/list_products/{{ selectedCategory.bannerPicture }}"
    alt=""
  />
</div>
<section id="details">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ selectedCategory.title | upper }}</h1>
    <p>{{ selectedCategory.description | raw | nl2br }}</p>
    <img class="detailsPicture" src="/images/{{ selectedCategory.picture }}"
    "Image Détails">
  </div>
</section>
{% if subCategories is not empty %}
<section id="categories">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ "nos catégories" | upper }}</h1>
    <div class="categoriesContainer">
      {% for subCategory in subCategories %}
      <div class="cardContainer hover">
        <a href="/products/?category= {{ subCategory.id }}"
          ><img
            src="/images/list_products/{{ subCategory.picture }}"
            alt="{{ subCategory.name }}"
          />
          <div class="cardTextCat">
            <p class="cardName lightGreen">{{ subCategory.name | upper }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<section id="allProducts">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ "tous nos produits" | upper }}</h1>
    <div class="categoriesContainer">
      {% for product in allProducts %}
      <div class="cardContainer">
        <a href="/product/?idProduct={{ product.id }}"
          ><img
            class="hover"
            src="/images/products/hache.png"
            alt="{{ product.name }}"
        /></a>
        <div class="cardText">
          <p class="cardName lightGreen">{{ product.name }}</p>
          <p class="cardName lightGreen">{{ product.price }} €</p>
          <button class="buyButton">Acheter</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
