{% extends 'base.html.twig' %} {% block main %} {% if errors is not empty %}
<div class="errorMessage">
  <h1 class="darkGreen">{{ errors }}</h1>
</div>
{% endif %} {% if product is not empty %}
<ul class="track-list">
  <li><a href="/">Accueil</a></li><span>/</span>
  <li><a href="/list-products?category={{ parentCategory.name }}" >{{ parentCategory.name }}</a></li><span>/</span>
  <li><a href="/products?category={{ categoryOfProduct.id }}"  >{{ categoryOfProduct.name }}</a></li><span>/</span>
  <li><a href="#">Produit</a></li>
</ul>
<section id="product">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ product.name | upper }}</h1>
    <div class="pictureContainer">
      <img
        class="productPicture"
        src="/images/{{ product.picture }}"
        alt="Image Détails"
      />
      <div>
        <p class="productDetails">{{ product.description | raw | nl2br }}</p>
        <div class="priceContainer">
          <form
            action="{{ path('basket_add_product', { idProduct: product.id }) }}"
            method="post"
            id="product-{{ product.id }}"
          >
            <input type="hidden" name="id_product" value="{{ product.id }}" />
            <button type="submit" class="buyButton">Mettre au panier</button>
          </form>
          <h1 class="productPrice">{{ product.price }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %} {% endblock %}
