{% extends 'base.html.twig' %} {% block main %}{% if errors is not empty %}
<div class="errorMessage">
  <h1 class="darkGreen">{{ errors }}</h1>
</div>
{% endif %} {% if subcategory is not empty %}
<div class="banner">
  <img
    class="bannerPicture"
    src="/images/{{ subcategory.bannerPicture }}"
    alt=""
  />
</div>

<section id="details">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ subcategory.name | upper }}</h1>
    <p>{{ subcategory.description | raw | nl2br }}</p>
    <img class="detailsPicture" src="/images/products/{{ subcategory.picture }}"
    "Image Détails">
  </div>
</section>
{% endif %} {% if products is not empty %}
<section id="allProducts">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ "tous nos produits" | upper }}</h1>
    <div class="categoriesContainer">
      {% for product in products %}
      <div class="cardContainer">
        <a href="/product/?idProduct={{ product.id }}">
          <img src="/images/products/hache.png" alt="{{ product.name }}"
        /></a>
        <div class="cardText">
          <p class="cardName lightGreen">{{ product.name }}</p>
          <p class="cardName lightGreen">{{ product.price }} €</p>
        </div>
      </div>
      {% endfor %} {% if form is defined %}
      {{ form_start(form) }}

      {{ form_row(form.submit) }}
      {{ form_end(form) }}
      {% endif %}
    </div>
  </div>
</section>
{% endif %} {% endblock %}
