{% extends 'base.html.twig' %} {% block main %}{% if errors is not empty %}
<div class="errorMessage">
  <h1 class="darkGreen">{{ errors }}</h1>
</div>
{% endif %} {% if subcategory is not empty %}
<ul class="track-list">
  <li><a href="/">Accueil</a></li><span>/</span>
  <li><a href="/list-products?category={{ categoryOfSubcategory.name }}">{{ categoryOfSubcategory.name }}</a></li><span>/</span>
  <li><a href="/products?category={{ subcategory.id }}" > {{ subcategory.name }}</a></li>
</ul>
<div class="banner">
  <img
    class="bannerPicture"
    src="/images/{{ subcategory.bannerPicture }}"
    alt=""
  />
</div>
<section id="details">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ subcategory.name | upper }}</h1>
    <p>{{ subcategory.description | raw | nl2br }}</p>
    <img class="detailsPicture" src="/images/products/{{ subcategory.picture }}"
    "Image Détails">
  </div>
</section>
{% endif %} {% if products is not empty %}
<section id="allProducts">
  <div class="sectionContainer">
    <h1 class="darkGreen">{{ "tous nos produits" | upper }}</h1>
    <div class="categoriesContainer">
      {% if form is defined %}{% set startForm = form_start(form) %} {% set
      formRow = form_widget(form) %} {% set endForm = form_end(form) %} {% for
      product in products %}
      <div class="cardContainer">
        <a href="/product/?idProduct={{ product.id }}">
          <img src="/images/{{ product.picture }}" alt="{{ product.name }}"
        /></a>
        <div class="cardText">
          <p class="cardName lightGreen">{{ product.name }}</p>
          <p class="cardName lightGreen">{{ product.price }} €</p>
          <form
            action="{{ path('basket_add_product', { idProduct: product.id }) }}"
            method="post"
            id="product-{{ product.id }}"
          >
            <input type="hidden" name="id_product" value="{{ product.id }}" />
            <button type="submit" class="buyButton">Mettre au panier</button>
          </form>
        </div>
      </div>
      {% endfor %} {% endif %}
    </div>
  </div>
</section>
{% endif %} {% endblock %}
